//
   Created by navina on 24/6/16.
head
    title Login
    meta(charset="UTF-8")
form(action='/login' ,method='GET')
    table
        tr
            td.f1_label User name:
            td
                input(type="text" name="username" value="" )
        tr
            td.f1_label Password:
            td
                input(type="password" name="password" value="" )

        tr
            td
                input(type="submit" name="login" value="Log In" style="font-size:18px; ")


